<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cfb.com.dailydevelopment2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".example1.loadimage.LoadImageActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example2.progressbar.ProgressBarActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example3.testlayout.TestLayoutActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example4.horizontallistview.HorizontalListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example5.horizontallistview2.HorizontalListActivity2"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".example6.recyclerview.RecyclerViewActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".example6.recyclerview.UseRecyclerViewActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".example6.recyclerview.UseRecyclerViewActivity2"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".example6.recyclerview.UseRecyclerViewActivity3"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".example7.local.refresh.ChatFrameActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".example8.storedata.StoreDataActivity"></activity>
        <activity android:name=".example9.use.sqlite.SQLiteActivity"></activity>
        <activity android:name=".example10.litepal.LitePalActivity"></activity>
    </application>

</manifest>